body {
  background: #69909f;
}

.content {
  background: #fff;
  min-height: 800px;
}

.nav {
  margin: 0;
  padding: 0;
}

.nav-bar {
  margin: 0;
}

#main-nav {
  height: 40px;
}

.logo {
  background: url(/media/images/SkyNetLogo.png) no-repeat;
  height: 40px;
  margin: 10px;
}


/* Logs */
#log {
  overflow: scroll;
  height: 550px;
}

#search-container {
  width: 275px;
}

#search-term {
  width: 275px;
}

/* Dashboard */
#region-tabs {
  margin-bottom: 0;
  display: none;
}

#instance-filter {
  display: none;
}

.nodes {
  width: 100%;
}

#instance-list table tr td, #instance-list table tr th{
  font-size: 85%;
}

#loading {
  text-align: center;
  font-size: 1.2em;
  padding: 0;
  margin: 0;
}

#loading p {
  margin-top: 15px;
}
