<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>SkyNet :: Dashboard</title>

  <!-- Included CSS Files -->
  <link rel="stylesheet" href="/media/stylesheets/foundation.css">
  <link rel="stylesheet" href="/media/stylesheets/app.css">

  <!--[if lt IE 9]>
    <link rel="stylesheet" href="/media/stylesheets/ie.css">
  <![endif]-->

  <script src="/media/javascripts/modernizr.foundation.js"></script>

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

</head>
<body>
  <div class="row content">
    <div class="twelve columns">
      <div class="logo"></div>
    </div>
    <div class="twelve columns nav">
      <ul id="main-nav" class="nav-bar">
        <li><a href="/">Dashboard</a></li>
      </ul>
    </div>
    <div class="twelve columns">
      {{.}}
    </div>
  </div>
  <div class="row"></div>

  <!-- Included JS Files -->
  <script src="/media/javascripts/jquery-1.8.0.min.js"></script>
  <script src="/media/javascripts/jquery-ui-1.8.23.custom.min.js"></script>
  <script src="/media/javascripts/jquery.reveal.js"></script>
  <script src="/media/javascripts/jquery.orbit-1.4.0.js"></script>
  <script src="/media/javascripts/jquery.customforms.js"></script>
  <script src="/media/javascripts/jquery.placeholder.min.js"></script>
  <script src="/media/javascripts/jquery.tooltips.js"></script>
  <script src="/media/javascripts/jquery.timeago.js"></script>
  <script src="/media/javascripts/mustache.js"></script>
  <script src="/media/javascripts/json2.js"></script>
  <script src="/media/javascripts/underscore-min.js"></script>
  <script src="/media/javascripts/backbone-min.js"></script>
  <script src="/media/javascripts/app.js"></script>
  <script src="/media/javascripts/node-list.js"></script>
</body>
</html>
